@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.poppins-font {
  --font-main: 'Poppins', Arial, Helvetica, sans-serif;
}

@media print {
  .flex, .inline-flex {
    display: flex !important;
  }
  .flex-wrap {
    flex-wrap: wrap !important;
  }
  .flex-row {
    flex-direction: row !important;
  } 
  .gap-4 {
    gap: 1rem !important;
  }
  .gap-6 {
    gap: 1.5rem !important;
  }
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
